<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>User first name - <i><%= data.firstName %></i></h3>
  <h3>User last name - <i><%= data.lastName %></i></h3>
  <h3>User number - <i><%= data.number %></i></h3>
  <h3>User email - <i><%= data.email %></i></h3>
  <h3>User description - <i><%= data.description %></i></h3>
</body>
</html> 